**/*.map
**/*.ts
**/*.yml
**/*.log
**/*.txt
**/*.md
**/*.markdown
**/.npmignore
**/tsconfig.*
**/LICENSE
**/license

**/test/**/*
**/example/**/*
**/benchmark/**/*
**/@types/**/*

.gitignore
.vscode
.github
.husky
.prettier*
tsconfig.base.json
dist/tests/**
packages/**

node_modules/typedown-extension
node_modules/typedown-webview
node_modules/ts-json-schema-generator/bin
node_modules/typescript/loc
node_modules/typescript/bin
node_modules/commander
node_modules/json5/dist
