**/*.map
**/*.ts
**/*.yml
**/*.log
**/*.txt
**/*.md
**/*.markdown
**/*.wasm
**/.npmignore
**/tsconfig.json
**/*.tsbuildinfo
**/.eslintrc*
**/tslint.json
**/webpack.config.js
**/bower.json
**/Makefile
**/CNAME
**/LICENSE
**/VERSION
**/license

**/test/**/*
**/example/**/*
**/benchmark/**/*
**/@types/**/*

.gitignore
.vscode
.github
.husky
.prettier*
tsconfig.base.json
dist/tests/**
packages/**

node_modules/typedown-extension
node_modules/typedown-webview

node_modules/typescript/loc
node_modules/typescript/bin
node_modules/typescript/lib/**/*.json
!node_modules/typescript/lib/*.d.ts
node_modules/typedoc/bin
node_modules/handlebars/bin
node_modules/handlebars/dist
!node_modules/handlebars/dist/cjs
node_modules/lunr/perf
node_modules/lunr/build
node_modules/lunr/notes
node_modules/lunr/index.html
node_modules/lunr/styles.css
node_modules/lunr/lunr.min.js
node_modules/lunr/component.json
node_modules/marked/bin
node_modules/marked/lib
node_modules/marked/man
node_modules/marked/marked.min.js
node_modules/shiki
!node_modules/shiki/package.json
!node_modules/shiki/dist/index.js
node_modules/onigasm
!node_modules/onigasm/lib/*.js
!node_modules/onigasm/package.json
node_modules/typedoc-default-themes
node_modules/neo-async
node_modules/source-map
node_modules/uglify-js
node_modules/wordwrap
node_modules/minimist
node_modules/json5
