**/*.map

.gitignore
.github
.husky
.prettier*
.vscode
packages
tsconfig.base.json

node_modules

!node_modules/typescript/package.json
!node_modules/typescript/lib/**/*.js
!node_modules/typescript/lib/**/*.ts

!node_modules/onigasm/package.json
!node_modules/onigasm/lib/*.js

!node_modules/lru-cache/package.json
!node_modules/lru-cache/*.js

!node_modules/yallist/package.json
!node_modules/yallist/*.js
